
.wrapper {
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: center;
  font-weight: 800;
}

.navbar {
  margin-top: 10px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-49%, 4%);
}

.hidden{
  display: none;
}

.input {
  display: flex;
  margin: 1% 5%;
  width: 78%;
}

.keyboard-image {
  width: 100px;
  cursor: pointer;
}

#search-text {
width: 90%;
}

#message-container {
  width: 100%;
  height: 50px;
  color: rgb(42, 4, 211);
  font-size: 2em;
  text-align: center;
  transition: .3s;
}

.swiper-container {
  max-width: 1080px;
  height: 460px;
}

.swiper-pagination {
  height: 17px;
}

.main-container {
  max-width: 1080px;
  overflow: hidden;
  background-size: cover;
}

.card-item {
  display: flex;
  flex-direction: column;
}

.card-title {
 font-size: 1.5em;
 height: 48px;
 text-align: center;
}

.card-image {
  display: flex;
  width: 190px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.loader {  
  margin-top: 7px;
  border-top: 2px solid blue;
  border-right: 2px solid green;
  border-bottom: 2px solid red;
  border-left: 2px solid pink;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

.footer {
  position: absolute;
  top: 960px;
  width: 100%;
  height: 65px;
  display: flex;
}

.footer-text {
  color: #fff;
  padding-left: 20px;
  padding-top: 15px;
  font-size: 1rem;
}

.footer-image {
  position: relative;
  top: 10px;
 left: 75%;
}

.virtual-keyboard {
  font-family: sans-serif;
  max-width: 784px;
  width: 100%;
  margin-top: 2vh;
  padding: 1% 0 1% 0;
  background-color: #2642bf;
  border-radius: 15px;
}

.keyboard__row {
  display: flex;
  flex-direction:row;
  margin-left: 1%;
  margin-right: 1%;
  justify-content: space-between;
}

.keyboard__key {
  background-color: #7a8684;
  color: #fff;
  height: 40px;
  margin: 0.5%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-radius 0.3s, background-color 0.3s, color 0.3s;
}

.keyboard__key:hover {
  background-color:#ff3;
}

.keyboard__key_active {
  background-color: #ff6;
  color: #300;
 border-radius: 50%;
}

.keyboard__caps-lock_active {
 background-color: #009900;
}

@media screen and (max-width: 615px) {
  .input {
    width: 65%;
  }
}

@media screen and (max-width: 898px) {
  .footer-image {
   left: 60%;
  }
  .keyboard-image {
    display: none;
  }
  .virtual-keyboard {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .footer-image {
   left: 28%;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

